<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias alias="boardVO" type="com.dddn.DDDnyang.board.BoardVO"/>
		<!-- <typeAlias alias="noticeVO" type="com.dddn.DDDnyang.login.LoginVO"/>
		<typeAlias alias="memberVO" type="com.dddn.DDDnyang.member.MemberVO"/>
		<typeAlias alias="mypageVO" type="com.dddn.DDDnyang.myPage.MyPageVO"/>-->
		<typeAlias alias="likeBoardVO" type="com.dddn.DDDnyang.myPage.LikeBoardVO"/>
		<typeAlias alias="ImageVO" type="com.dddn.DDDnyang.image.ImageVO"/> 
		<typeAlias alias="replyVO" type="com.dddn.DDDnyang.reply.ReplyVO"/>
	</typeAliases> 
</configuration>